@import "../../../styles/variables";

.title-wrapper {
    background-color: $tv-primary;
    width: 100%;
    height: $title-bar-height;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.title-container {
    display: flex;
    height: 100%;
}

.title-container-center {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title-container-left {
    height: 100%;
    margin-right: auto;
}

.title-container-right {
    height: 100%;
    margin-left: auto;
}

.title-text {
    color: $tv-white;
    font-weight: bold;
    font-size: 1.2rem;
}

.title-logo {
    height: 100%;
    display: flex;
    align-items: center;
    color: $tv-white;

    &:hover {
        cursor: pointer;
    }
}

.title-item {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $tv-white;
    cursor: pointer;
    min-width: 6rem;

    &:hover {
        background-color: rgba($tv-white, 0.3);
        cursor: pointer;
    }
}
