@import "../../../styles/variables";

$card-image-selected-border-width: 5px;
$checkbox-size: 40px;

.candidate {
    .card {
        margin: 0;

        &:active {
            box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.12), 0px 7px 15px 0px rgba(0,0,0,0.24);
        }
    }

    .card-image {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            border: 0px solid $tv-success;
            border-radius: 2px 2px 0px 0px;
            transition: 200ms;
        }

        &.selected::after {
            border-width: $card-image-selected-border-width;
        }
    }

    .card-content {
        position: relative;
        transition: 200ms;

        &.selected {
            background-color: $tv-success;
            color: $tv-white;
        }
    }
}

.checked-icon {
    position: absolute;
    top: 0px;
    right: 20px;
    height: $checkbox-size;
    width: $checkbox-size;
    opacity: 0;
    border-radius: $checkbox-size/2;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
    transition: 200ms;

    &.visible {
        top: -$checkbox-size/2 - $card-image-selected-border-width;
        opacity: 1;
    }
}
