@import "../../styles/variables";

:host {
    display: block;
    position: relative;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
}

.outer-container {
    height: 100%;
}

.candidate-card {
    margin-bottom: 2rem;
}

.blocking-overlay {
    height: 100%;
    background-color: $tv-white;

    display: flex;
    justify-content: center;
    align-items: center;

    & .polls-closed-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & > .fa {
            font-size: 5rem;
        }
    }
}
