.preserve-line-breaks {
    white-space: pre-wrap;
}

@mixin faded-icon() {
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
    color: $tv-light-gray;
    opacity: 0.3;
    transition: 200ms;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}