$nav-height: 4.5rem;
$action-bar-height: 4rem;

// Colors:
$tv-black: #222;
$tv-gray: #999;
$tv-light-gray: #ddd;
$tv-white: #fff;

// $tv-primary: #3F51B5;
// $tv-accent: #388E3C;
// $tv-warn: #FFC107;

$tv-primary: rgba(0, 84, 159, 1);
$tv-accent: rgba(5, 47, 95, 1);
$tv-success: rgba(6, 167, 125, 1);
$color4: rgba(213, 198, 122, 1);
$tv-warn: rgba(241, 162, 8, 1);
