$title-bar-height: 4rem;
$action-bar-height: 4rem;

// Colors:
$tv-black: #222;
$tv-gray: #999;
$tv-light-gray: #ddd;
$tv-white: #fff;

$tv-primary: rgba(0, 84, 159, 1);
$tv-accent: rgba(5, 47, 95, 1);
$tv-success: rgba(6, 167, 125, 1);
$tv-warn: rgba(241, 162, 8, 1);
