@import "../styles/variables";

:host {
    display: block;
    height: 100%;
}

.main {
    height: 100%;
    position: relative;

    &.title-bar-visible {
        padding-top: $title-bar-height;
    }
}
