@import "../shared/styles";

:host {
    display: block;
    margin-top: 2rem;
}

.candidate-list {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.candidate-list-item {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;

    border-top: 1px solid $tv-light-gray;
}

.candidate-name {
    margin-right: auto;
}

.candidate-count {
    margin-left: auto;
}
