@import "../../styles/variables";

:host {
    display: block;
    margin-top: 2rem;
}

.candidate-list-container {
    margin-top: 2rem;
}

.candidate-list-item {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;

    & + & {
        border-top: 1px solid $tv-light-gray;
    }
}

.candidate-name {
    margin-right: auto;
}

.candidate-count {
    margin-left: auto;
}
