<div class="row">
    <div class="candidate-card col-md-4 col-sm-6" *ngFor="let candidate of candidates | async;">
        <md-card>
            <img md-card-image *ngIf="candidate.imageUrl" src="{{candidate.imageUrl}}">
            <md-card-title>{{candidate.name}}</md-card-title>
            <md-card-content>
                <p>{{candidate.description}} | {{candidate.voteCount}}</p>
            </md-card-content>
            <md-card-actions align="end">
                <button md-button (click)="incrementVote(candidate)">Vote</button>
            </md-card-actions>
        </md-card>
    </div>
</div>
