<div class="row">
    <div class="candidate-card col s6 m4" *ngFor="let candidate of candidates | async;">
        <candidate-card [candidate]="candidate"
                        (click)="toggleCandidateSelection(currentCandidate);"
                        #currentCandidate>
        </candidate-card>
    </div>
</div>
<action-bar
    [message]="'This is a test message'"
    [primaryButtonText]="'Vote'"
    [secondaryButtonText]="'Reset'"
    [visible]="selectedCandidates.length > 0"
    (primaryButtonClicked)="actionCastVotes()"
    (secondaryButtonClicked)="actionResetCandidateSelections()">
</action-bar>
