@import "../../styles/helpers";
@import "../../styles/variables";

:host {
    width: 100%;
    height: 100%;
}

.home-container {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("assets/photos/truro-background.jpg");
    background-size: cover;
}

.hero {
    text-align: center;
    padding-bottom: 2rem;

    .hero-text {
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    button {
        margin-top: 1rem;
    }
}

.gotoAdmin {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;

    @include faded-icon();
}